@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://i.imgur.com/lTQMz9k.png" alt="" width="626" height="445" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register for a free account today and start adding your favorite songs to MyMusicStash.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Talk to people</h2>
        <p>MyMusicStash is a great place to talk to other people about all your favorite music</p>
    </div>
    <div class="col-md-4">
        <h2>Share Music</h2>
        <p>You can easily share video clips and pictures with other people.</p>
    </div>
</div>